@import url("https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Raleway");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.sp-ar{
    justify-content: space-around;
}

.sp-be{
    justify-content: space-between;
}

.sp-ev{
    justify-content: space-evenly;
}

.sp-ce{
    justify-content: center;
}
/* 
::-webkit-scrollbar {
    display: none;
} 
*/


/*__________NAV__________*/

@media only screen and (max-width: 414px) {
    nav{
        flex-wrap: wrap-reverse !important;
    }
    .nav-flex-1{
        width: 100vw;
        margin-top: 15px;
    }
    
    .nav-flex-2{
        /* width: 100vw; */
    }
    .nav-flex-3{
        width: 50vw;
    }
}

@media only screen and (max-width: 320px) {
    nav {
        width: 93vw;
        padding: 15px 3.5vw 0 3.5vw;
    }
    .search-input-field > input{
        width: 160px !important;
    }
}

nav {
    width: 95vw;
    top: 0;
    align-self: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.633);
    font-family: "Montserrat", sans-serif;
    padding: 20px 2.5vw 20px 2.5vw;
}

.nav-flex-1 {
    width: 40vw;
}

.search {
    flex-flow: row;
}

.search > button {
    border: none;
    margin-right: 10px;
    background: none;
    color: #ffffff;
}

.search > button:hover {
    color: #808080;
}

.search > input {
    border: none;
    width: 80px;
    background-color: #ececec;
    padding: 2px;
    border-radius: 5px;
    visibility: hidden;
}

select#search-input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    background: transparent;
    color: #ffffff;
    width: 92px;
}

input > #search-input {
    border-radius: 30px;
    text-indent: 5px;
    border: none;
    /* padding:5px; */
}

button.item1 {
    color: #ffffff;
    background: none;
    border: none;
}

.nav-flex-2 {
    width: 20vw;
    text-align: center;
}

.title-logo > img {
    width: 10vw;
    padding-top: 4px;
}

.nav-flex-3 {
    width: 40vw;
}

.inline {
    justify-content: flex-end;
    flex-wrap: wrap;
}

.s-up-in > button {
    padding: 3px 8px;
    font-family: "Montserrat", sans-serif;
    color: rgb(205, 205, 205);
    font-size: 12px;
    background: none;
    border: none;
}

.lo-inout:hover {
    /* background: gray;
    border-radius: 20px;
    padding: 5px;   */
    color: #808080;
}

.lo-inout {
    font-size: 12px;
    /* margin: 0px 0px 0px 5px; */
}

select#search-input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    background: transparent;
    color: white;
    width: 92px;
}
.list-select > select {
    -webkit-appearance: none;
    border: none;
    background: #ececec;
    border-radius: 5px 0px 0px 5px;
    width: 168px;
    padding: 10px;
}

.new {
    width: 1080px !important;
    margin: auto;
}
.none {
    background: none;
    height: 510px;
    box-shadow: none;
}
button.genreButton {
    color: white;
    text-shadow: 1px 1px 4px black;
    font-size: 13px;
}


/*__________Header__________*/
header {
    height: 100vh;
    background-color: #ffffff;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixlib=rb-1.2.1&auto=format&fit=crop&w=2102&q=80");
    box-shadow: inset 5px 6px 80px #000;
    background-size: cover;
}

header > a > h1 {
    font-size: 5vw;
    color: rgb(255, 255, 255);
    letter-spacing: 0.3em;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px 9px #717171;
    width: 90vw;
    margin: auto !important;
    margin-top: 250px;
}

header > a > h1:hover {
    text-shadow: 2px 2px 9px #717171;
}


/* Search result item in search results and index */
.search-r-image {
    box-shadow: 1px 1px 10px #aaaaaa;
}

.search-r-image > p {
    color: transparent;
    height: 280px;
    overflow-y: hidden;
    word-break: break-all;
}

.search-r-image > p:hover {
    background: #1f1f1fb8;
    color: #ffffff;
    padding: 10px;
}

.search-r-title {
    color: #000;
    width: 150px !important;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.search-r-release {
    width: 120px;
    font-size: 13px;
    color:#000;
    text-shadow: none;
    text-align: center;
    margin: auto;
}