@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Raleway');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a   {
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}


/*________NAVIGATION BAR___________________*/
nav {
    width: 95vw;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    top: 0;
    align-self: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.633);
    font-family: 'Montserrat', sans-serif;
    padding: 20px 2.5vw 20px 2.5vw;
}


/*___________Signup signin_______________*/
nav >.nav-flex-3 > .inline >.s-up-in >button {
    padding: 3px 8px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(205, 205, 205);
    font-size: 12px;
    background: none;
    border: none;
}

/*____________search button_________________*/
nav >.nav-flex-3 > .inline >.search > button {
    border: none;
    margin-right: 10px;
    background: none;
    color:white;
}

nav >.nav-flex-3 > .inline >.search > button:hover {
    color:gray;
}
/*___search input__*/
nav >.nav-flex-3 > .inline > .search > input {
    border: none;
    width: 80px;
    background-color: #ececec;
    padding: 2px;
    border-radius: 5px;
    visibility: hidden;
}

.nav-flex-1{
    width: 40vw;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.nav-flex-2{
    width: 20vw;
    text-align: center;
}

.nav-flex-2 > .title-logo >  img{
    width: 10vw;
    padding-top: 4px;
}

.nav-flex-3{
    width: 40vw;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

}

.inline{
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.search {
    flex-flow: row;
}

.fa-bars{
    font-size: 25px;
    color: white;
}

.fa-bars:hover {
    color: gray;
}

button.item1 {
    color: white;
    background: none;
    border:none;
}

input#search-input {
    border-radius: 30px;
    text-indent: 5px;
    border: none;
    padding: 5px;
}
.lo-inout:hover{
    /* background: gray;
    border-radius: 20px;
    padding: 5px;   */
    color: gray;
}

.lo-inout{
   font-size: 12px;
   /* margin: 0px 0px 0px 5px; */
}
/*------------------------------------------*/


/*-----------MOVIE INFO CONTENT-------------------------------*/
.mov {
    height: 800px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: url('https://image.tmdb.org/t/p/w1400_and_h450_face/bHarw8xrmQeqf3t8HpuMY7zoK4x.jpg'); */
    /* background-size: 100vw; */
    /* height: 70vh; */
    background-size: 100vw;
    background-repeat: no-repeat;
}

.mov-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 100vh; */

    width: 100vw;
    margin-top: 20vw;
}


.mov-flex-1{
    margin: auto;
    width: 30vw;
}

.mov-poster{
    display: flex;
    flex-direction: column;
    float: right;
}

.mov-content>.mov-flex-1 >.mov-poster>img {
    /* margin: auto; */
    width: 10vw;
    float: right;
    height: 400px;
    width: 270px;
    box-shadow: 1px 1px 10px #000000;
    margin-top: 70px;
}

.mov-poster>button{
    padding: 15px;
    border-radius: 10px;
    width: 270px;
}


.mov-poster>button:hover{
    background: #ececec;
}

.mov-star{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10vw;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}
.mov-star:hover{
    color: gold;
}

.yellowstar{
    color: gold;
}


.mov-flex-2{
    width: 65vw;
    height: 620px;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #fff;
    text-shadow: 1px 1px 4px black;
    /* padding-top: 260px; */
    /* padding-top: 20px; */
    justify-content: flex-end;
}


.mov-content > .mov-flex-2 >h1 {
    /* font-size: 30px; */
    /* font-size: 45px;*/
    /* font-size: 10vw; */
    font-size: 3vw;
    margin-bottom: 0 !important;
    /* margin-bottom: 15px; */
}

.mov-content > .mov-flex-2 >p {
    font-size: 15px;
    margin-top: 21px;
    text-shadow: none;
    width: 55vw;
    color: black;
    height: 80px;
    overflow-y: scroll;
    /* margin: auto; */
}


.mov-flex-cast {
    display: flex;
    margin-top: 18px;
    width: 58vw;
    overflow: scroll;
}

.mov-flex-cast> .actor{
    margin: 8px;
}

.mov-flex-cast> .actor >a>img{
    /* width: 100px; */
    width: auto !important;
    height: 150px !important;
}

.mov-flex-cast> .actor >p{
    width: 120px;
    font-size: 12px;
    color: #000000;
    text-shadow: none;
}

.mov-flex-cast> .actor >.cast-role{
    width: 120px;
    font-size: 12px;
    color: #686868;
    text-shadow: none;
}



/*_________HEADER______*/


header {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background: url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixlib=rb-1.2.1&auto=format&fit=crop&w=2102&q=80");
    /* background-size: 100vw; */
    /* height: 70vh; */
    box-shadow: inset 5px 6px 80px #000;
    background-size: cover;
}

header > a > h1 {
    /* font-size: 65px; */
    font-size: 5vw;
    color: rgb(255, 255, 255);
    letter-spacing: 0.3em;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 9px #717171;
    width: 90vw;
    margin: auto !important;

    margin-top: 250px;
}

header > a > h1:hover {
    text-shadow: 2px 2px 9px #717171;
}

/*_________*/






/*______Search search-results_____*/

.result-title{
    width: 120px;
    font-size: 15px;
    color: #000000;
    text-shadow: none;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.result-release {
    width: 120px;
    font-size: 13px;
    color: #000000;
    text-shadow: none;
    text-align: center;
    margin: auto;
}


.search-results-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search-results-content {
    width: 90vw;
    margin: auto;
    /* margin-top: 10vh; */
}

.search-results-content >h1{
    font-size: 20px;
    color: #232222;
    text-transform: capitalize;
}

.search-results {
    display: flex;
    /* box-shadow: inset 0px 9px 30px 1px #aaaaaa; */
    width: 90vw;
    overflow: scroll;
    height: auto;
    padding-top: 2px;
    /* margin-bottom: 40px; */
    border-radius: 5px;

}

/*_?_*/


.search-results>a{
    width: 420px;
    display: flex;
  flex-direction: column-reverse;
  margin: 8px;
  inner


}
.search-results>a>img{
    width: auto;
    height: 300px !important;
    box-shadow: 3px 3px 2px black;
}

.search-results>a>h4{
   height: 20px;
   /* color: black; */
   color: white;
   text-align: center;
   font-family: helvetica neue;
   font-weight: 200;
   margin: 4px;
}

/*_?_*/

.searchinput {
    width: 100vw;
    height: 80px;

}
.searchinput>input{
    width: 100vw;
    height: 80px;
    font-size: 30px;
    background: white;
}
.search-results> .search-result-item{
    margin: 8px;
}
.search-results> .search-result-item >img{
    width: 150px;
    box-shadow: 1px 1px 10px #aaaaaa;
    height: 220.88px;
}


.search-results> .search-result-item >img:hover{

    box-shadow: 1px 1px 10px #000000;

}
.search-results> .search-result-item >p{
    width: 120px;
    font-size: 13px;
    color: #000000;
    text-shadow: none;
    text-align: center;
    margin: auto;
}


/*___________________*/


@media only screen
and (max-device-width : 414px){
    .s-up-in{
        visibility: hidden;
        height: 0;
        width: 0;;
    }
}

/*___________________*/







/*______FOOTER______*/



.foot{
    display: flex;
    justify-content: space-around;
    background:black;
    color:white;
    padding: 40px;
 
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
}

#linee{
    display: flex;
    justify-content: space-around
}







#similar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;   
}

#similar-content {
    width: 90vw;
    margin: auto;
    /* margin-top: 10vh; */
}

#similar-content >h1{
    font-size: 20px;
    color: #232222;
    text-align: left;
    text-transform: capitalize;
}

.similar-flex {
    display: flex;
    /* box-shadow: inset 0px 9px 30px 1px #aaaaaa; */
    width: 90vw;
    overflow: scroll;
    height: auto;
    padding-top: 2px;
    /* margin-bottom: 40px; */
    border-radius: 5px;

}

.similar-flex> .similar-mov{
    margin: 8px;
}
.similar-flex> .similar-mov > a> img{
    width: 150px;
    box-shadow: 1px 1px 10px #aaaaaa;
    height: 220.88px;
}


.similar-flex> .similar-mov >a >img:hover{

    box-shadow: 1px 1px 10px #000000;

}
.similar-flex> .similar-mov >p{
    width: 120px;
    font-size: 13px;
    color: #000000;
    text-shadow: none;
    text-align: center;
    margin: auto;
}



/*_____REGISTER_____*/

.reg {
    width:100vw;
    display: flex;
    flex-direction: column;
    background: gray;
    height: 100vh;
    margin: auto;
}
.reg-header{
    margin:20vw auto 20px auto;
    font-size: 30px;
    text-align: center;
    /* text-decoration: underline; */
}

.reg-body{
    border: 3px solid #aaaaaa;
    justify-content: center;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background: #aaaaaa;
}

.reg-form{
    margin: 10px;
}

.reg-form-control{
    width: 50vw;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-indent: 8px;
}
.reg-label{
    text-transform: capitalize
    font-size: 14px;
  
  
}
.reg-btn {
    background: #ececec;
    border-radius: 7px;
    padding: 5px;
    font-size: 12px;

}

.reg-btn-cnt{
    width: fit-content;
    margin: 10px auto 10px auto;
}

/*______________*/