.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.sp-ar{
    justify-content: space-around;
}
.sp-be{
    justify-content: space-between;
}
.sp-ev{
    justify-content: space-evenly;
}

.sp-ce{
    justify-content: center;
}


select#search-input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    background: transparent;
    color: white;
    width: 92px;
}
.list-select > select {
    -webkit-appearance: none;
    border: none;
    background: #ececec;
    border-radius: 5px 0px 0px 5px;
    width: 168px;
    padding: 10px;
}

.new {
    width: 1080px !important;
    margin: auto;
}
.none {
    background: none;
    height: 510px;
    box-shadow: none;
}
button.genreButton {
    color: white;
    text-shadow: 1px 1px 4px black;
    font-size: 13px;
}


@media only screen and (max-device-width: 414px) {
  
    .top-5-overview{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .top-5-desc > h1 {
        font-size: 6.5vw;
    }
    .top-5-num > h1{
        height: 40px;
        width: 40px;
        line-height: 1.3;
    }
    .mov-detail{
        background-size: 200vw !important;
        height: 160vh !important;
    }
    .mov-flex-1{
        width: unset;
        height: 90vh;
    }
    .mov-flex-2{
        width: unset;
        height: 65vh;
        justify-content: start !important;
    }
    .mov-flex-cast{
        width: 100vw;
    }
    .mov-flex-2 > p {
        width: 90vw;
        text-align: center;
        margin: 20px auto 0 auto;
    }
    .mov-flex-2 > h5 {
        width: 95vw;
      
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .mov-flex-2 > h1 {
        font-size: 8vw;
        width: 88vw;
        text-align: center;
        margin: 0 auto 0 auto;
    }    
    .mov-content{
        flex-direction: column !important;
    }
    .mov-poster{
        /* height: 44vh; */
    }
    nav{
        flex-wrap: wrap-reverse !important;
    }
    .nav-flex-1{
        width: 100vw;
        margin-top: 15px;
    }
    
    .nav-flex-2{
        /* width: 100vw; */
    }
    .nav-flex-3{
        width: 50vw;
    }
    .mov-star{
        width: unset;
        margin: unset;
    }
    iframe{
        margin: 0 auto 150px auto;
        width: 90vw !important;
        height: auto !important;
    }
    .similar-container{
        height: 60vh !important;
    }
    .trailer-container{
        height: 35vh !important;
        padding: unset;
    }
    .review{
        width: 80vw;
    }
    .review-header{
        width: 80vw;
    }
}


@media only screen and (max-device-width: 320px) {
    nav {
        width: 93vw;
        padding: 15px 3.5vw 0 3.5vw;
    }
    .search-input-field > input{
        width: 160px !important;
    }
    .mov-flex-2 {
        width: unset;
        justify-content: center;
    }
    .mov-content{
        height: auto;
    }
    .mov-flex-1 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        justify-content: center;
    }
    .mov-flex-2 {
        height: 100vh;
    }
    .similar-container {
        height: 75vh;
    }
    .mov-poster > img{
        margin-top: 0 !important;
    }
}

/*___________________*/

/* .profile-card > div > form {
    display: flex;
    flex-direction: row;
    justify-content: center; 
} */

/* .profile-card > div > h4 {
    font-size: 11px;
    color: white;
} */
