.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.sp-ar{
    justify-content: space-around;
}
.sp-be{
    justify-content: space-between;
}
.sp-ev{
    justify-content: space-evenly;
}

.sp-ce{
    justify-content: center;
}


select#search-input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    background: transparent;
    color: white;
    width: 92px;
}
.list-select > select {
    -webkit-appearance: none;
    border: none;
    background: #ececec;
    border-radius: 5px 0px 0px 5px;
    width: 168px;
    padding: 10px;
}

.new {
    width: 1080px !important;
    margin: auto;
}
.none {
    background: none;
    height: 510px;
    box-shadow: none;
}
button.genreButton {
    color: white;
    text-shadow: 1px 1px 4px black;
    font-size: 13px;
}


@media only screen and (max-device-width: 414px) {
    .s-up-in {
        visibility: hidden;
        height: 0;
        width: 0;
    }
}



/*___________________*/

/* .profile-card > div > form {
    display: flex;
    flex-direction: row;
    justify-content: center; 
} */

/* .profile-card > div > h4 {
    font-size: 11px;
    color: white;
} */
